
#heads_button {
  width: 175px;
  height: 40px;
  border: 2px solid;
  font-weight: bold;
  text-align: center;
  color: orange;
}

#heads_button:hover {
  color: black;
  background-color: orange;
  border: 2px solid orange;
}

#tails_button {
  width: 175px;
  height: 40px;
  border: 2px solid #00FF00;
  font-weight: bold;
  color: #00FF00;
}

#tails_button:hover {
  color: black;
  background-color: #00FF00;
  border: 2px solid #00FF00;
}

#or_label {
  margin-left: 1px;
  margin-right: 2px;
}

#flip_it_button {
  font-weight: bold;
  font-size: 27px;
  padding: 18px;
  width: 380px;
  color: orange;
  background-color: rgb(0, 200, 0, 0.2);
  border: 2px solid #00FF00;
}

#flip_it_button:hover {
  color: #00FF00;
  background-color: rgb(255, 165, 0, 0.2);
  border: 2px solid orange;
}

#flip_result {
  color: #00FF00;
  font-size: 30px;
  text-align: center;
}
